<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.1" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee                              https://jakarta.ee/xml/ns/jakartaee/web-app_6_1.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.bankapp.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.bankapp.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccountServlet</servlet-name>
        <servlet-class>com.bankapp.servlet.CreateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepositServlet</servlet-name>
        <servlet-class>com.bankapp.servlet.DepositServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WithdrawServlet</servlet-name>
        <servlet-class>com.bankapp.servlet.WithdrawServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <servlet-class>com.bankapp.servlet.DeleteAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransferServlet</servlet-name>
        <servlet-class>com.bankapp.servlet.TransferServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccountServlet</servlet-name>
        <url-pattern>/CreateAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepositServlet</servlet-name>
        <url-pattern>/DepositServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WithdrawServlet</servlet-name>
        <url-pattern>/WithdrawServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <url-pattern>/DeleteAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransferServlet</servlet-name>
        <url-pattern>/TransferServlet</url-pattern>
    </servlet-mapping>
</web-app>